.clear_both{
	clear:both;
}
.content{
	width:800px;
	margin:0 auto;
}
.profile{
	#padding:25px 0;
}.profile .left{
	float:left;
	width:475px;
	padding-right:25px;
}.profile .left .avatar{
	width:150px;
	float:left;
}.profile .left .details{
	float:right;
	width:300px;
}.profile .right{
	float:right;
	width:300px;
}.profile .heading{
	font-size:18px;
	margin-bottom:5px;
	font-weight:bold;
}.profile .row{
	padding:5px 0;
}.profile .divider{
	background-image: url(featured_divider.png);
	background-repeat: repeat-x;
	background-position: center top;
	height:2px;
	opacity:0.7;
}.profile .row, .profile .row a{
}.profile .row a:hover{
}.profile .row .row_left{
	float:left;
}.profile .row .row_right{
	float:right;
}